*{
    background-color: rgb(34, 144, 192);
    color: #000;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


header {
    background-color: aqua;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    background-image: url(/images/clouds.webp);
}


h1 {
    display: inline-block;
    font-size: 48px;
    background-color: aquamarine;

}

nav ul {
    display: flex;
    justify-content: space-between;
    float:right;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-weight: bold;
    text-transform: uppercase;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-image: url(./images/background.jpg);
}


section {
    margin-bottom: 40px;
}

#skills {
    border: solid 4px rgb(11, 11, 11);
    width: 100px;
    height: 150px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}


.contact li {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-right: 17px;
    float: left;
    padding-left: 85px;
}

footer p {
    text-align: center;
   
}

.big-box {
    width: 97%;
    height: 350px;
    border: solid 4px black; 
    background-image: url(./images/hexa.jpg);
}


.small-box1 {
    width: 272px;
    height: 150px;
    border: solid 4px black;
    padding: 52px;
    background-image: url(./images/web.jpg);
    margin: 8px;
}

.small-box2 {
    width: 272px;
    height: 150px;
    border: solid 4px black;
    padding: 52px;
    background-image: url(./images/laptop.jpg);
    margin: 8px;
}

.small-box3 {
    width: 272px;
    height: 150px;
    border: solid 4px black;
    padding: 52px;
    background-image: url(./images/red.jfif);
    margin: 8px;
}


.small-box4 {
    width: 272px;
    height: 150px;
    border: solid 4px black;
    padding: 52px;
    background-image: url(./images/clouds.webp);
    margin: 8px;
}

.main-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contacts li {
    justify-content: center;
}